
.tab-nav{
    color:#094275 !important;
    text-transform: capitalize !important;
    position: relative;
    font-size: 1rem;
    padding: .5rem;
    &:hover{
        color:#ff6363 !important;
        cursor: pointer;
    } 
    &::after{
        content: "";
        position: absolute;
        width:80%;
        transition:height 0.25s;
        height:0px;
        z-index: 1;
        top:85%;
        left:10%;
        background-color: #ff6363;
    }
    &:hover::after{
        
        height:2px;
        color:#094275;
    }
    &:active{
        color:#ff6363 !important;
    }
}
.activ{
    color:#ff6363 !important;
    &::after{
        height:2px;
    }
}
.tab-body{
    text-align: justify;
    font-weight: 500;
    
}

.tab-heading{
    font-size: 2rem;
    font-weight: 600;
    color:#094275;
}

.align-center-end{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.about-page-images{
    height: auto;
    max-height: 230px;
    width: 80%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000;
}

.about-page-service-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.service-box-realign-small{
    display: none;
}

@media screen and (max-width: 767px) {
    .resize-image-on-tablet{
        width: 95%;
        margin: auto;
        overflow: hidden;
    }
    
    .resize-image-on-tablet img{
        max-height: 250px;
        height: 180px !important;
    }

    .service-box-realign-small{
        display: block;
    }

    .service-box-realign-big{
        display: none;
    }
}

.about-img-heading{
    font-size: 1.7rem;
    color:#094275;
    span{
        font-size: 1.2rem;
        color:#094275;
    }
}
.profile-carousel-images{
    height:8rem;
    width:8rem;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000;
}

.home-collection-icon{   //Newly Created
    margin:0;  
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content: url("/svg/aptIcons/dark/APT_SVG_HOME_CHECKUP.svg");
    }
}

.test-included-icon{   //Newly Created
    margin:0;  
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content: url("/svg/aptIcons/dark/APT_SVG_BLOOD_BOTTLE.svg");
    }
}


@media only screen and (max-width: 1024px){
    .none{
        display: none;
    }
    

}