.shareButton{
    margin:0px 2px;
}
.blog-row{
    border:1px solid rgba(10, 66, 117,0.2);
    border-radius: 5px;
    background: #fff;
    padding:10px;
    margin:1px;
    img{
        width:100px;
        height:100px;
        border-radius: 50%;
        box-shadow: 0px 0px 0px 1px rgba(10, 66, 117,0.2);
    }
}
.blog-col{
    img{
        margin-top: 5px;
        width:300px;
        height:200px;
        // border-radius: 50%;
        box-shadow: 0px 0px 0px 1px rgba(10, 66, 117,0.2);
        opacity: 0.9;
    }
}
@media only screen and (max-width:425px) {
    .blog-col{
        img{
            width:250px;
        }
    }
    
}
