.test-card{
    height:350px;
    border-radius: 5px;
    border: none;
    .card-body{
    font-weight: 500; 
    .body-text{
      font-size: 0.85rem;
      line-height: 16.8px;
      width: 100%;
      // margin: 0 0 1em 0;
      overflow: hidden;
      position: relative;
      height: 170px;
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height:1.3rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    } 
  .test-card-button{
    border: 1.5px solid #0a4275 !important;
    color: #0a4275 !important;
    font-weight: 600 !important;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px #0a4275;
    margin-top: 40px;
    &:hover{
      background:#ff6363;
    }
  }
    }
  }