.gift_tests_cards{
    font-weight: 600;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    button{
        border-radius: 5px;
        font-weight: 700;
        font-size:0.8rem;
    }
}