@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

// body{
//   background: white;
// }


// ioclasses
.ioleft{
  opacity: 0;
}
.ioright{
  opacity: 0;
}
.iofade{
  opacity: 0;
}




/* mobile bar */
.mobilebar{
  position:fixed;
  top:90%;
  width:100vw;
  height: 10%;
  background: rgba(9,66,117,0.8) ;
  z-index: 1;
}
.icon{
  height:100px;
  width: 100px;
}
.br-1{
  border-right: 1px solid black;
}

.align-center-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.align-center-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.p0{
  padding:0 !important;
}

.m0{
  margin:0 !important;
}

.report{
  height:290px;
  margin:20px 0px;
  width:366px;
  position: absolute;
  top:0;
  left:60%;
  background:whitesmoke;
  z-index: 1;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.7);
  border-radius: 10px;
}

.no-number-buttons::-webkit-outer-spin-button, 
.no-number-buttons::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.carouselholder{
  position: relative;
}

.report-heading{
  font-size: 1rem;
  color: #0a4275;
  padding:0;
  margin:0;
}
.carousel-index-container{
    background-color: #FFF;
    // background-image:url("/images/grid.png");
    background-repeat: repeat, no-repeat;
    background-position: top center;
    background-attachment: scroll, fixed;
    background-size: auto, cover;
    // z-index:100;
}
.accreditations{
  h2{
    color:white; 
    text-align: center;
   }
  background-image:url("/images/bgcheck.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  &>div{
  background-color: rgba(25, 126, 221, 0.3);
  background-image:url("/images/grid.png");
  background-repeat: repeat, no-repeat;
  background-position: top center;
  background-attachment: scroll, fixed;
  background-size: auto, cover;
  }
}


.accreditations-container{
  margin: 80px 100px;
  &>div{
    display: flex;
    align-items: center;
    justify-content:center ;
  }
  img{
    width:200px;
    height:200px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
    border-radius: 50%;
  }
}


.iconGenerator{
  // max-width: 50%;
  padding:2px;
  .col-3{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  img{
      height: 30px;
      width:30px;
  }
  h4{
      font-size: 0.6rem;
      font-weight: 500;
  }
  h5{
      font-weight:600;
      font-size: 0.8rem;

  }
}

.otp-verification-window{
  width:100vw;height:100vh;
  position: fixed;
  top:0px;
  left:0px;
  background-color: rgba(18, 73, 124,0.5);
  z-index: 1;
  .otp-verification-card{
    position: absolute;
    border-radius: 10px;
    top:47%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:315px;
    height:300px;
    .verify-cancel-button{
      text-align: right;
    }
    .card-text{
      font-size: 0.85rem;
      font-weight: 600;
    }
    label{
      font-weight: 500;
      font-size: 0.8rem;
    }
    .card-subtitle{
      font-size: 0.8rem;
      font-weight: 500;
      color:#ff6363;
    }
    input{
      border-radius: 10px;
    }
  }
}
  
.packages-card{
  border: none;
  border-radius: 5px;
  transition: box-shadow 0.5s;
  p{
    font-weight: 500;
    font-size: 0.8rem;
  }
  button{
      border : 1px solid #0a4275;
      color : #0a4275;
      background: #fff;
      border-radius: 5px;
      font-weight: 600;
      &:hover {
        background:#0a4275 !important;
        color: #fff !important;
        border-color: #fff;
      }
  }
  &:hover{
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7) !important;
  }
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.no-margin-top{
  margin-top: 0 !important;
}

.big-blog-holder{
  margin:15px 2px;
  border:1px solid rgba(10, 66, 117,0.2);
  border-radius: 5px;
  padding:5px;
  background: rgb(18, 73, 124);
  color:#fff;
}

.blogs-container{
  width: 100% !important;
  max-width: unset;
  padding: 0;
}

.blogs-holder{
  background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(0, 0, 0, .1)), url("/images/bgcheck3.jpg");
  // background-image:url("/images/bgcheck3.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  // margin-top: 20px;
  padding: 5vh 0 3vh;
  h4{
    font-size: 1.5rem;
    color:#0a4275;
  }
  // .blogs-container{
  // background-color: rgba(25, 126, 221, 0.3);
  // background-image:url("/images/grid.png");
  // background-repeat: repeat, no-repeat;
  // background-position: top center;
  // background-attachment: scroll, fixed;
  // background-size: auto, cover;
  // }
}

.reviews-container{
  h1{
    font-weight: 900;
    font-size: 10rem;
    font-family: sans-serif;
    margin:0px;
    padding:0px;
  }
  p{
    font-size: 0.8rem;
  }
  img{
    height:60px;
    width:60px;
    border-radius: 50%;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  }
  h5{
    margin-left: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    padding:5px 10px;
  }
}

.search-widget{
  position: relative;
    
  .results{
    position:absolute;
    display: none;
    height:100px;
    width:100%;
    background:rgba(0,0,0,0.3);
    z-index: 1;
    border-radius: 5px;;
  }
}

.show-on-small{
  display: none;
  visibility: hidden;
}

@media (max-width: 768px){
  .show-on-small{
    display: block;
    visibility: visible;

    .features-body-title{
      font-size: 1rem;
    }

    .features-body-text{
      font-size: 1.1rem;
    }

    .card_flip{
      height: 25vh;

      .card__inner{
        height: 100%;
      }
    }

    .slick-slide{
      padding: 0 10px;
    }
  }
  
  .hide-on-small{
    display: none;
    visibility: hidden;
  }
}

@media (max-width: 575px){
  .show-on-small{
    margin-right: 0;
  }
}

.features-card{
  border-radius: 10px;
  padding:15px;
  border:none;
  box-shadow: none !important;
  background: transparent !important;
  .flip-cards{
    position: relative;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.3);
    background: linear-gradient(to left, #0a4275, #195e9e );
    color:white;
    .card--title{
      color:white;
    }
    &:hover{
      background: #fff;
      color:#0a4275;
      .card--title{
        color:#0a4275;
      }
    }
  }

  &:hover{
    box-shadow: none !important;
  }
}

.features-body-text{
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .features-body-text{
    font-size: .86rem;
  }
}


.division{
  height:1px;
  width:90%;
  background: #0a4275;
}
.carousel{
  border-radius: 5px;
}

.landing-h2{
  text-align: center;
  font-weight: 600;
  color:#0a4275 ;
  font-size: 2rem;
  padding:0;
  margin:0;
}

.landing-h2-dark{
  text-align: center;
  font-weight: 600;
  color:#0a4275 ;
  font-size: 1.2rem;
  padding:0;
  margin:0;
}

.card--title{
  font-size: 1.2rem;
  color:#0a4275;
  font-weight: 600;
  margin-top: 1rem !important;
}

.align-end{
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  justify-content: flex-end;
}
.test-card{
  height:350px;
  border-radius: 5px;
  border: none;
  .card-body{
    font-weight: 500; 
    .body-text{
      font-size: 0.85rem;
      line-height: 16.8px;
      width: 100%;
      // margin: 0 0 1em 0;
      overflow: hidden;
      overflow-y: scroll;
      position: relative;
      height: 170px;
      &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height:1.3rem;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
      }
    } 
    .test-card-button{
      border: 1.5px solid #0a4275 !important;
      color: #0a4275 !important;
      font-weight: 600 !important;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 0px #0a4275;
      margin-top: 40px;
      &:hover{
        background:#0a4275 !important;
        color: #fff !important;
        border-color: #fff;
      }
    }
  }
}

.curated-health-image{
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .curated-health-image{
    width: 70%;
    height: 250px;
    margin: 0 auto;
  }
  
  .curated-health-image img{
    height: 100%;
  }

  .carousel-index-container{
    margin-bottom: 10px;
  }
}

.curated-health-button{
  border: 1.5px solid #0a4275 !important;
  color: #0a4275 !important;
  font-weight: 600 !important;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px #0a4275;
  background-color: #fff !important;
  margin-top: 20px;
  &:hover{
    background:#0a4275 !important;
    color: #fff !important;
    border-color: #fff;
  }
}

// .colored-container{
//   background-color: rgba(160, 235, 164, 0.8);
//   background-image:url("/images/grid.png");
//     background-repeat: repeat, no-repeat;
//     background-position: top center;
//     background-attachment: scroll, fixed;
//     background-size: auto, cover;
// }

.indexCarouselCard{
  border: none;
  height:375px;
  // width:350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background:rgba(255, 255, 255, 0.2);
  color:#0a4275;
  border-radius:5px;
}
.container-p{
  color:rgb(48, 47, 47);
  margin:0;
  padding:0;
}

.shigning-text{
  position: relative;
  font-weight: 600;
  // text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
  overflow: hidden;
  background: linear-gradient(90deg, #ff6363,#0a4275 , #ff6363);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 0, 0, 0.7);
}

.no-padding{
  padding: 5px 0;
}

.no-border-style .card_flip{
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-right: 2px solid white;
}

.card_flip {
  cursor: pointer;
  border-radius: 3px;
  perspective: 1000px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  text-align: center;
}

.feature-first-card{
  // background: #0a4275;
  background-image: linear-gradient(to right, #0a4275 40%, #115ea5);
}

.feature-second-card{
  // background: #115ea5;
  background-image: linear-gradient(to right, #115ea5 30%, #3892e7);
}

.feature-third-card{
  // background: #1f72c0;
  background-image: linear-gradient(to right, #3892e7, #5faef8);
}

.card__inner {
  background-color: transparent;
  color: #fff;

  height: 150px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card_flip:hover .card__inner {
  transform: rotateY(180deg);
}

.card__content {
  position: absolute;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  margin: 20px;
}

.card__content--back {
transform: rotateY(180deg);
padding-top: 5px;
} 


/*Added by Aman*/
.features-card-middletext {
  padding-left : 0;
  padding-right : 0;
}

.show-on-small-mobile{
  display: none;
}


@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}


@media only screen and (max-width: 1024px){
  .report{display:none;}     
  .left-panel{
    width:50vw;
}
.indexCarouselCard{
  // width:300px;
  margin: auto;
}
}

@media only screen and (max-width: 768px){
  .report{
    display:none;
  }
  .indexCarouselCard{
    // display:none;
  }

  .show-on-small-mobile{
    display: block;
  }

  .hide-on-small-mobile{
    display: none;
  }

  .on-small-no-marginTop{
    margin-top: 0 !important;
  }

  .carouselImg{
    overflow: hidden;
    height: 35vh;
  }

  .carouselImg img{
    width: 100%;
    height: 100%;
  }
  
  .accreditations-container{
    margin: 40px 0px;
    img{
      width:100px;
      height:100px;
    }
  }
  
}

@media screen and (max-width: 600px) {
  .carouselImg{
    height: 35vh;
  }
}

@media (max-width: 530px){
  .carouselImg{
    height: 30vh;
  }
}

@media (max-width: 430px){
  .carouselImg{
    height: 24vh;
  }
}

.blogs-div{
  background-color: #0A4275;
  color: #fff;
  padding: .5rem 0;
  margin: 1rem auto 0;
}

.blogs-div h4{
  font-size: 2rem;
}

.health-carousal-items-padding .slick-slide{
  padding: 0 10px;
}

@media (min-width: 500px) and (max-width: 575px) {
  .shrink-on-small{
    width: 60%;
    margin: auto;
  }
}

@media (min-width: 400px) and (max-width: 500px){
  .shrink-on-small{
    width: 80%;
    margin: auto;
  }
}