.top-space{
    padding: 0;
    margin:0;
    height:1.9rem;
    width:100vw;
    position: fixed;
    z-index:1;
    background:#fafafafa;
}
.top-space div a{
    color:#094275;
    font-size: 1rem;
    padding:5px;
}
.top-space div a:hover{
    color:#ff6363;
    text-decoration: none;
}
.p0{
    padding:0 !important;
}
.m0{
    margin: 0 !important;
}

.navbar{
    background: #0a4275;
    // linear-gradient( to bottom right,#023f74, #2e75af,#4d7ba1) !important;
    
}
.logo-img{
    height:4rem;
    width:17rem;
}

.navbar-button{
    border:1px solid #ff6363 !important;
    color:#ff6363 !important;
  }
.navbar-button:hover{
    color:#fff !important;
}
.nav-link{
    color:#fff !important;
    text-transform: uppercase;
}

.nav-link:hover{
    color:#ff6363 !important;
}

.nav-bar-prescription{   //Newly Created
    margin:0; 
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content:url("/svg/aptIcons/dark/APT_SVG_PRESCRIPTION.svg");
    }
}

.nav-bar-search{    //Newly Created
    margin: 5px; 
    padding:0;
    width:20px;
    height:20px;
     &:hover{
         content:url("/svg/aptIcons/dark/APT_SVG_SEARCH.svg");
    }
}

.mobile-view-links{
    display:none;
}

.sidebar-text{
    color:#000;
    font-size: 0.8rem;
    margin:0;
    padding:0;
    font-weight: 500;
}

.sidebar-icon1{
    margin:0;
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content:url("/svg/aptIcons/dark/APT_SVG_MOBILE_HELP.svg");
    }
}

.sidebar-icon2{   //Newly Created
    margin:0;  
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content: url("/svg/aptIcons/dark/APT_SVG_MESSENGER.svg");
    }
}

.sidebar-icon3{   //Newly Created
    margin:0;
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content:url("/svg/aptIcons/dark/APT_SVG_CALL.svg");
    }
}

.ideal-for{   //Newly Created
    margin:0;  
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content: url("/svg/aptIcons/dark/APT_SVG_GENDER.svg");
    }
}

.test-included{   //Newly Created
    margin:0;  
    padding:0;
    width:30px;
    height:30px;
     &:hover{
         content: url("/svg/aptIcons/dark/APT_SVG_BLOOD_BOTTLE.svg");
    }
}

.icon-button-center{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.left-panel{
    height:300px;
    width:70px;
    position:fixed;
    top:30vh;
    left:0%;
    background:rgba(255,255,255,0.6);
    z-index:2;
    box-shadow: 0px 0px 0px 1px rgba(10, 66, 117,0.3);
    overflow: hidden;
    border-radius: 15px;
    margin:1px;
    padding:2px;
}
// .left-panel{
//     position: fixed;
//     top:30vh;
//     left:0%;
    
    // border-bottom: 150px solid green;
    // border-left: 100px solid transparent;
    // border-right: 100px solid transparent;
// }


.shining_text {
    // text-transform: uppercase;
    font-size: 0.9rem;
    // letter-spacing: 1px;
    vertical-align:middle;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 0, 0), #fff, rgb(29, 59, 94));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(134, 6, 6, 0.6);
  }
.left-panel-button{
    color:#021220;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:300px;
    z-index: 1;
    left:-6%;
    padding:0;
    animation: popanimation 0.75s alternate-reverse infinite;
    transition: left 2s;
}
.left-panel-icon-holder{
    height:100px;
    width:95px;
}
.align-center-column-col{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover{
        background: rgba(0,0,0,0.5);
    }
}

.left-panel-button:hover{
    animation: none;
    left:-1%;
}
.left-panel-text{
    transform: rotate(-90deg);
    padding:0;
    margin:0;
    color:#094275 ;
    height:0px;
    width:60px;
    text-align: center;
    cursor: pointer;
}
.arrow-button{
    color:#094275 ;
    padding:0;
    margin:0;
}
.color-btn{
    color:#fff !important;
    background-color: #021220 !important;
}
.align-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbarsmall{
    // background: linear-gradient(to right , #0a4275 , rgba(10, 66, 117,0.7) , rgba(10, 66, 117,0.3), rgba(10, 66, 117,0.1),rgba(10, 66, 117,0))  !important;
    background: transparent;
    height:60px;

    a{
        color:black !important;
    }
}
.navbarsmall-a{
    background: transparent;
    // height:60px;
    .navbar-collapse{
        margin-top: 5px;
    }
    a{
        color:#000 !important;
        font-weight: 700;
    }
}


.logo-img-small{
    border-radius: 15px;
    opacity: 0.99;
    margin-left: 150px;
    // margin-top: px;
    // transform: scale(1);
    height:70px;
    width:250px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.8);
  }

  .login-icon{    //Newly Created
    margin:5px;
    padding:0;
    width:20px;
    height:20px;
     &:hover{
         content:url("/svg/aptIcons/dark/APT_SVG_PERSON.svg");
    }
  }
  

.dropDown{
    position: relative;
    padding:5px;
    
    .dropdownMenu{
        position: absolute;
        display: none;
        box-shadow: 0px 0px 5px 0px solid black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        // padding:5px 20px;
        top:95%;
        ul{
            border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        &:last-child(){
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        }
        li{
            padding:5px 20px;
            background:#fafafa;
            border:none;
        }
        a{
            width:100%;
        }
    }
    &:hover .dropdownMenu{ display: flex;} 
}

.search-navbar{
    color:rgb(230, 148, 148);
    // border-radius: 10px;
    border-radius: 10px;
    width:500px;
    background: #fff;
    box-shadow: 0px 0px 2px 0px rgba(230, 148, 148,0.8);
&:hover{
    border:3px solid #ff6363;
}

}
.search-navbar-active{
    border:3px solid #ff6363 !important;
}


.right-panel{
    position: fixed;
    z-index: 1;
    width:40px;
    height:100px;
    background:#fff;
    border-radius: 5px;
    box-shadow:2px 2px 10px 5px rgba(0,0,0,0.5);
    right:-10px;
    top:40vh;
    overflow: hidden;
    transition: right 500ms;
    cursor: pointer;
    &:hover{
        right:-5px;
    }
    p{
        // position: absolute;
        height:100px;
        text-align: center;
        // vertical-align:text-bottom;
        width:100px;
        padding:5px;
        margin:0px;
        font-size: 13px;
        letter-spacing: 1px;
        font-weight:400;
        transform: rotate(-90deg);
        color:#fff;
        background-color: rgba(10, 66, 117,1);
    }
}

// .sidebar-navlink{
//     font-size: 0.8rem;
// }
// .sidebar-navlink-head{
//     margin:0;
//     padding:0;
//     font-size: 1.2rem;
//     color:#fff;
// }

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
  }

@keyframes popanimation{
    from{ left:-5%}
    to{left:-6%}
}
/* @keyframes popanimation2{
    from{ left:-8%}
    to{left:-3%}
} */
@media only screen and (max-width: 1200px){
    .left-panel-button{
        left:-6;
    }
    .left-panel{
        width:30vw;
        left:-31%;
    }


@keyframes popanimation{
    from{ left:-6%}
    to{left:-7%}
}
}

@media only screen and (max-width: 991px){
    .top-space{display: none;}
    .mobile-view-links{
        display:block;
    }
    .left-panel{
        width:40vw;
        left:-41%;
    }
}

@media only screen and (max-width:768px){
    .left-panel{
        display:none
    }
    .right-panel{
        display:none
    }
    .left-panel-button{
        display: none;
    }
    .search-navbar{
        width:200px;
    }
    .logo-img-small{
        margin-left: 10px;
        height:50px;
        width:120px;
        margin-top: 0px;
    }
}

@media only screen and (max-width:320px){
    .logo-img{
        height:3rem;
        width:12rem;
    }
}