.top-space{
    padding: 0;
    margin:0;
    height:1.5rem;
    width:100vw;
}
.top-space div a{
    color:#094275;
    font-size: 1rem;
}
.top-space div a:hover{
    color:#ff6363;
    text-decoration: none;
}
.p0{
    padding:0 !important;
}
.m0{
    margin: 0 !important;
}

.navbar{
    background: #0a4275;
    // linear-gradient( to bottom right,#023f74, #2e75af,#4d7ba1) !important;
    
}
.logo-img{
    height:4rem;
    width:15rem;
}

.navbar-button{
    border:1px solid #ff6363 !important;
    color:#ff6363 !important;
  }
.navbar-button:hover{
    color:#fff !important;
}
.nav-link{
    color:#fff !important;
    text-transform: uppercase;
}

.nav-link:hover{
    color:#ff6363 !important;
}
.mobile-view-links{
    display:none;
}

.sidebar-text{
    color:#000;
    font-size: 0.8rem;
    margin:0;
    padding:0;
    font-weight: 500;
}
.sidebar-icon{
    margin:0;
    padding:0;
    width:40px;
    height:40px;
}

.icon-button-center{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.left-panel{
    height:240px;
    width:70px;
    position:fixed;
    top:30vh;
    left:0%;
    background:rgba(255,255,255,0.6);
    z-index:2;
    box-shadow: 0px 0px 0px 2px rgba(10, 66, 117,0.5);
    overflow: hidden;
    border-radius: 15px;
}
.left-panel-button{
    color:#021220;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:300px;
    z-index: 1;
    left:-5%;
    padding:0;
    margin:0;
    animation: popanimation 0.75s alternate-reverse infinite;
    transition: left 2s;
}
.left-panel-icon-holder{
    height:80px;
    width:95px;
}
.align-center-column-col{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover{
        background: rgba(0,0,0,0.5);
    }
}

.left-panel-button:hover{
    animation: none;
    left:-1%;
}
.left-panel-text{
    transform: rotate(-90deg);
    padding:0;
    margin:0;
    color:#094275 ;
    height:0px;
    width:60px;
    text-align: center;
    cursor: pointer;
}
.arrow-button{
    color:#094275 ;
    padding:0;
    margin:0;
}
.color-btn{
    color:#fff !important;
    background-color: #021220 !important;
}
.align-center-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-center-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

// .sidebar-navlink{
//     font-size: 0.8rem;
// }
// .sidebar-navlink-head{
//     margin:0;
//     padding:0;
//     font-size: 1.2rem;
//     color:#fff;
// }

@keyframes popanimation{
    from{ left:-5%}
    to{left:-6%}
}
/* @keyframes popanimation2{
    from{ left:-8%}
    to{left:-3%}
} */
@media only screen and (max-width: 1200px){
    .left-panel-button{
        left:-6;
    }
    .left-panel{
        width:30vw;
        left:-31%;
    }


@keyframes popanimation{
    from{ left:-6%}
    to{left:-7%}
}
}

@media only screen and (max-width: 991px){
    .top-space{display: none;}
    .mobile-view-links{
        display:block;
    }
    .left-panel{
        width:40vw;
        left:-41%;
    }
}

@media only screen and (max-width:768px){
    .left-panel{
        display:none
    }
    .left-panel-button{
        display: none;
    }
}

@media only screen and (max-width:320px){
    .logo-img{
        height:3rem;
        width:12rem;
    }
}