.form-container{
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
}

.quickconfirm-button{
    background-color: #fff;
    border: 1px solid #0a4275;
    color: #0a4275 !important;
    &:hover{
        background-color: #0a4275;
        border-color: #fff;
        color: #fff !important;
    }
    &:disabled{
        pointer-events: none;
        background-color: #0a4275;
        border-color: #fff;
        color: #fff !important;
    }
}
.payments-cart-data{
    font-weight: 700;
    font-size: 0.9rem;
    &>div{
        display: flex;
        align-items:center;
        justify-content: center;
        overflow: hidden;
    }
}
.total-payments-cart-data{
    &>div{
        display: flex;
        align-items:center;
        justify-content: center;
        text-decoration: none;
        color:red;
        font-size: 1.2rem;
        font-weight: 600;
    }
}
.payment-total-card{
    min-height:400px;
    border-radius: 20px;
    li{
        padding:5px;
    }
}

.slot-card{
    border-radius:10px;
    border:none;
    box-shadow:0px 0px 5px 0px rgba(10, 66, 117,0.5) !important;
    font-size: 0.9rem;
    font-weight: 700;
    cursor:pointer;
    overflow: hidden;
}

.align-center-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.submission-card{
    border-radius: 20px;
    button{
        border-radius: 20px;
    }
}